<!-- settings.html -->
<ion-header>
  <ion-toolbar>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <h3>Settings</h3>
  <p>No wait: '{{version.versionNoWait}} (no Wait)'</p>
  <p>Build ID: '{{version.buildID}}'</p>
  <p>Binary Version:'{{version.binaryVersion}}'</p>

  <!--<p>I'm connected to the '{{ deployChannel }}' channel.</p>

  <p>Download Progress {{ downloadProgress }} / 100</p>

  <ion-item>
    <ion-label>Opt in to Beta Features</ion-label>
    <ion-toggle [(ngModel)]="isBeta" (ionChange)="toggleBeta()"></ion-toggle>
  </ion-item>
-->
</ion-content>
